<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://sumptuous-events.com/wp-content/uploads/2015/08/best-cocktail-bar-paris-.jpg);">
  <div class="container">
    <h1>Welcome to Willow Cocktails!</h1>
    <p>The digital pub to make you happy</p>
    <a class="btn btn-primary" href="#list">Choose a Cocktail</a>
    <%= link_to 'Create a new cocktail', new_cocktail_path %>
  </div>
  <div id="list">
    <% @cocktails.each do |cocktail| %>
       <div class="card" style="width: 18rem;">
        <% if cocktail.photo.attached? %>
          <div><%= cl_image_tag cocktail.photo.key, height: 300, width: 400, crop: :fill %></div>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= cocktail.name %></h5>
          <%= link_to 'Discover', cocktail_path(cocktail.id) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
