<div class="container">
  <h1><%= @cocktail.name %></h1>
  <h2><%= A drink to jack you up %></h2>
    <ul>
    <% @cocktail.ingredient.each do |ingredient| %>
      <li><%= ingredient.name %></li>
    <% end %>
    </ul>
</div>
